<!--预约-首页-->
<template>
    <el-row>
        <!--calender-->
        <el-col style="width: 45%">
            <el-card class="box-card">
                <el-calendar v-model="date"></el-calendar>
            </el-card>
        </el-col>

        <!--reservation list-->
        <el-col style="width: 50%">
            <el-table :data="reservationList">
                <el-table-column prop="name" label="会议室预约"></el-table-column>
                <el-table-column prop="start"></el-table-column>
                <el-table-column prop="end"></el-table-column>
                <el-table-column prop="status"></el-table-column>
                <el-table-column width="60">
                    <template slot-scope="scope">
                        <el-link icon="el-icon-edit" :underline="false"
                                 @click="handleEdit(scope.$index, scope.row)"></el-link>
                    </template>
                </el-table-column>
            </el-table>
        </el-col>
    </el-row>
</template>

<script>
    exports = {
        data: function () {
            return {
                date: new Date(),
                reservationList: [{
                    name: '大会议室',
                    start: '09:00',
                    end: '10:00',
                    status: '使用中'
                }, {
                    name: '大会议室',
                    start: '10:30',
                    end: '11:00',
                    status: '等待中'
                }, {
                    name: '视频会议室',
                    start: '11:00',
                    end: '12:00',
                    status: '等待中'
                }]
            }
        },
        methods: {
            handleEdit: function (index, row) {
                console.log(index, row);
            }
        }
    }
</script>

<style scoped>
    .box-card {
        margin-left: 40px;
        margin-right: 40px;
    }

    .el-calendar-table .el-calendar-day {
        height: 40px;
    }
</style>