<!--预约-首页-->
<template>
    <div>
        <el-row>
            <!--calender-->
            <el-col style="width: 45%">
                <el-card class="box-card">
                    <el-calendar v-model="date">
                    </el-calendar>
                </el-card>
            </el-col>

            <!--reservation list-->
            <el-col style="width: 50%">
                <el-table :data="reservationList" :row-class-name="tableRowClassName">
                    <el-table-column type="index" width="50"></el-table-column>
                    <el-table-column prop="name" label="会议室"></el-table-column>
                    <el-table-column prop="startTime" label="开始"></el-table-column>
                    <el-table-column prop="endTime" label="结束"></el-table-column>
                    <el-table-column prop="statusDesc" label="状态"></el-table-column>
                    <el-table-column width="60">
                        <template slot-scope="scope" v-if="scope.row.status === 0">
                            <el-link icon="el-icon-edit" :underline="false"
                                     @click="handleEdit(scope.$index, scope.row)"></el-link>
                        </template>
                    </el-table-column>
                </el-table>
            </el-col>
        </el-row>

        <el-dialog title="预约会议室" :visible.sync="showDialog">
            <el-form :model="reservationRecord" :rules="rules" ref="reservationRecord" label-width="90px">
                <el-form-item label="取消预约" prop="cancel"
                              v-if="reservationRecord.status === 0 || reservationRecord.status === 1">
                    <el-switch v-model="reservationRecord.cancel"
                               active-color="#ff4949"></el-switch>
                </el-form-item>
                <el-form-item label="日期" prop="date">
                    <el-date-picker v-model="reservationRecord.date" style="width:100%"
                                    type="date" @change="handleDateChange" :picker-options="{
                                            disabledDate: function(time){
                                                return time.getTime() < Date.now() - 8.64e7;
                                            }
                                        }"
                                    format="yyyy-MM-dd" value-format="yyyy-MM-dd"></el-date-picker>
                </el-form-item>
                <el-form-item label="会议室" prop="meetingroom">
                    <el-select v-model="reservationRecord.meetingroom" filterable style="width:100%">
                        <el-option
                                v-for="item in meetingrooms"
                                :key="item.id"
                                :value="item.id"
                                :label="item.name">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="起止时间" required>
                    <el-row>
                        <el-col :span="11">
                            <el-form-item prop="start">
                                <el-time-select v-model="reservationRecord.start" style="width: 100%"
                                                :picker-options="{
                                                        start : '08:30',
                                                        step: '00:05',
                                                        end: '23:00',
                                                        minTime: now
                                                    }"
                                                palceholder="选择开始时间"></el-time-select>
                            </el-form-item>
                        </el-col>
                        <el-col class="line" :span="2" style="text-align: center">-</el-col>
                        <el-col :span="11">
                            <el-form-item prop="end">
                                <el-time-select v-model="reservationRecord.end" style="width: 100%"
                                                :picker-options="{
                                                        start : '08:30',
                                                        step: '00:05',
                                                        end: '23:00',
                                                        minTime: reservationRecord.start
                                                    }"
                                                palceholder="选择结束时间"></el-time-select>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form-item>
                <el-form-item label="会议内容">
                    <el-input type="textarea" v-model="reservationRecord.comments" :row="2"
                              placeholder="请输入会议内容"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" @click="handleSubmit('reservationRecord')">确 定</el-button>
                <el-button @click="handleCancel('reservationRecord')">取 消</el-button>
            </div>
        </el-dialog>
    </div>
</template>

<script>
    exports = {
        data: function () {
            return {
                showDialog: false,
                date: new Date(),
                now: new Date().getHours() + ":" + new Date().getMinutes(),
                meetingrooms: [],
                reservationList: [],
                reservationRecord: {
                    id: '',
                    userId: '',
                    date: new Date(),
                    meetingroom: null,
                    start: null,
                    end: null,
                    comments: ''
                },
                rules: {
                    date: [
                        {required: true, message: '请选择日期', trigger: 'blur'}
                    ],
                    meetingroom: [
                        {required: true, message: '请选择会议室', trigger: 'blur'}
                    ],
                    start: [
                        {required: true, message: '请选择开始时间', trigger: 'blur'}
                    ],
                    end: [
                        {required: true, message: '请选择结束时间', trigger: 'blur'}
                    ]
                }
            }
        },
        methods: {
            /**
             * 加载
             */
            handleLoad: function () {
                console.log("Handle Load");
                var target = this;
                reservationApi.getReservationRecordToady()
                    .then(function (response) {
                        if (!response.data.succ) {
                            target.$message.error(response.data.mesg);
                        }
                        target.reservationList = response.data.data.map(function (value) {
                            var readonly = value.status === -1 || value.status === 2;
                            value[readonly] = readonly;
                            return value;
                        });
                    }).catch(function (response) {
                    target.$notify.error({
                        title: '错误',
                        message: response.message
                    })
                })
            },

            /**
             * 编辑
             */
            handleEdit: function (index, row) {
                var target = this;
                console.log("Handle Edit");
                target.reservationRecord = {
                    id: row.id,
                    ip: row.ip,
                    userId: row.userId,
                    date: new Date(row.date),
                    meetingroom: row.meetingRoomId,
                    start: row.startTime,
                    end: row.endTime,
                    comments: row.comments,
                    status: row.status,
                    statusDesc: row.statusDesc,
                    cancel: row.status === -1
                };
                target.showDialog = true;
            },

            /**
             * 提交
             */
            handleSubmit: function (formName) {
                var target = this;
                this.$refs[formName].validate(function (valid) {
                    if (valid) {
                        var date = "";
                        if (target.reservationRecord.date.toLocaleDateString) {
                            date = target.reservationRecord.date.toLocaleDateString() + " ";
                        } else {
                            date = target.reservationRecord.date + " ";
                        }
                        var reservation = {
                            id: target.reservationRecord.id,
                            userId: app.user,
                            meetingRoomId: target.reservationRecord.meetingroom,
                            startTime: new Date(date + target.reservationRecord.start),
                            endTime: new Date(date + target.reservationRecord.end),
                            comments: target.reservationRecord.comments,
                            status: target.reservationRecord.cancel ? -1 : target.reservationRecord.status
                        };
                        reservationApi.reserve(reservation)
                            .then(function (response) {
                                if (!response.data.succ) {
                                    target.$message.error(response.data.mesg);
                                } else {
                                    target.showDialog = false;
                                    setTimeout(function () {
                                        target.handleLoad();
                                    }, 500);
                                }
                            }).catch(function (error) {
                            target.$notify.error({
                                title: '错误',
                                message: error.message
                            })
                        });
                    } else {
                        console.log('valid error');
                        return false;
                    }
                });
            },

            /**
             * 取消
             */
            handleCancel: function (formName) {
                this.$refs[formName].resetFields();
                this.showDialog = false;
            },

            /**
             * 加载会议室列表
             */
            loadMeetingrooms: function () {
                var target = this;
                meetingroomApi.getMeetingRoomList()
                    .then(function (response) {
                        if (!response.data.succ) {
                            target.$message.error(response.data.mesg);
                        }
                        target.meetingrooms = response.data.data;
                    }).catch(function (error) {
                    target.$notify.error({
                        title: '错误',
                        message: error.message
                    });
                })
            },

            /**
             * 日期更改
             */
            handleDateChange: function (str) {
                var cur = new Date();
                var date = new Date(str);
                if (cur.getFullYear() !== date.getFullYear()
                    || cur.getMonth() !== date.getMonth()
                    || cur.getDate() !== date.getDate()) {
                    this.now = "00:00";
                } else {
                    this.now = cur.getHours() + ":" + cur.getMinutes();
                }
            },
            /**
             * 表格行样式
             */
            tableRowClassName: function (params) {
                var row = params.row;
                if (row.status === -1) {
                    return 'canceled';
                } else if (row.status === 0) {
                    return 'waiting';
                } else if (row.status === 1) {
                    return 'using';
                } else {
                    return 'finished';
                }
            }
        },
        watch: {
            'date' : function (newVal, oldVal) {
                var target = this;
                var date = newVal.toLocaleDateString();
                reservationApi.getReservationRecordByDay(date)
                    .then(function (response) {
                        if (!response.data.succ) {
                            target.$message.error(response.data.mesg);
                        }
                        target.reservationList = response.data.data.map(function (value) {
                            var readonly = value.status === -1 || value.status === 2;
                            value[readonly] = readonly;
                            return value;
                        });
                    }).catch(function (response) {
                    target.$notify.error({
                        title: '错误',
                        message: response.message
                    })
                })
            }
        },
        mounted: function () {
            this.handleLoad();
            this.loadMeetingrooms();
            app.handleRefresh = this.handleLoad;
        }
    }
</script>

<style scoped>
    .box-card {
        margin-left: 40px;
        margin-right: 40px;
    }

    .el-calendar-table .el-calendar-day {
        height: 40px;
    }

    .el-table .canceled {
        /*background: darkorange;*/
    }

    .el-table .waiting {
        /*background: antiquewhite;*/
    }

    .el-table .using {
        /*background: lightgreen;*/
    }

    .el-table .finished {
        /*background: gray;*/
    }
</style>