<template>
    <div>
        <div class="search-container">
            <el-form :inline="true" :model="search">
                <el-form-item>
                    <el-button icon="el-icon-plus" @click="handleAdd()">添加</el-button>
                </el-form-item>
                <el-form-item>
                    <el-input v-model="search.meetingroom" placeholder="会议室"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button icon="el-icon-search" type="primary" @click="handleSearch('search')">查询</el-button>
                </el-form-item>
            </el-form>
        </div>

        <div class="table-container">
            <el-table :data="meetingroomList" v-loading="loading" stripe>
                <el-table-column prop="name" width="200" label="名称"></el-table-column>
                <el-table-column prop="location" width="300" label="位置"></el-table-column>
                <el-table-column prop="comments" label="备注"></el-table-column>
                <el-table-column width="200">
                    <template slot-scope="scope">
                        <el-link icon="el-icon-edit" :underline="false"
                                 @click="handleEdit(scope.$index, scope.row)">编辑
                        </el-link>
                        <el-link icon="el-icon-delete" :underline="false"
                                 @click="handleDelete(scope.$index, scope.row)">删除
                        </el-link>
                    </template>
                </el-table-column>
            </el-table>
        </div>

        <el-dialog title="会议室" :visible.sync="showDialog">
            <el-form :model="meetingroom" :rules="rules" ref="meetingroom">
                <el-form-item label="名称" prop="name">
                    <el-input v-model="meetingroom.name"></el-input>
                </el-form-item>
                <el-form-item label="位置" prop="location">
                    <el-input v-model="meetingroom.location"></el-input>
                </el-form-item>
                <el-form-item label="备注" prop="comments">
                    <el-input type="textarea" :row="2" v-model="meetingroom.comments"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" @click="handleAdd('meetingroom')">确 定</el-button>
                <el-button @click="showDialog = false">取 消</el-button>
            </div>
        </el-dialog>
    </div>
</template>
<script>
    exports = {
        data: function () {
            return {
                showDialog: false,
                loading: false,
                search: {
                    meetingroom: ''
                },
                meetingroom: {
                    id: '',
                    name: '',
                    location: '',
                    comments: ''
                },
                meetingroomList: [],
                rules: {
                    name: [
                        {required: true, message: '请输入会议室名称', trigger: 'blur'}
                    ],
                    location: [
                        {required: true, message: '请输入会议室位置', trigger: 'blur'}
                    ]
                }
            }
        },
        methods: {
            /**
             * 加载
             */
            handleLoad: function () {
                var target = this;
                target.loading = true;
                setTimeout(function () {
                    meetingroomApi.getMeetingRoomList()
                        .then(function (response) {
                            console.log("Handle Load");
                            target.loading = false;
                            if (!response.data.succ) {
                                target.$message.error(response.data.mesg);
                            }
                            target.meetingroomList = response.data.data;
                        }).catch(function (error) {
                        target.$notify.error({
                            title: '错误',
                            message: error.message
                        })
                    });
                }, 500);
            },

            /**
             * 查询
             */
            handleSearch: function (searchForm) {
                console.log("Handle Search");
                var target = this;
                target.loading = true;
                meetingroomApi.searchMeetingRoom({
                    name: target.search.meetingroom
                }).then(function (response) {
                    target.loading = false;
                    if (!response.data.succ) {
                        target.$message.error(response.data.mesg);
                    }
                    target.meetingroomList = response.data.data;
                }).catch(function (error) {
                    target.$notify.error({
                        title: '错误',
                        message: error.message
                    })
                });
            },

            /**
             * 添加
             */
            handleAdd: function (formName) {
                console.log('Handle Add');
                var target = this;
                if (!formName) {
                    target.showDialog = true;
                } else {
                    this.$refs[formName].validate(function (valid) {
                        if (valid) {
                            meetingroomApi.addMeetingRoom(target.meetingroom);
                            target.showDialog = false;
                            target._resetMeetingroom();
                            target.handleLoad();
                        } else {
                            return false;
                        }
                    })
                }
            },

            /**
             * 编辑
             */
            handleEdit: function (index, row) {
                console.log("Handle Edit");
                var target = this;
                target.meetingroom = {
                    id: row.id,
                    name: row.name,
                    location: row.location,
                    comments: row.comments
                };
                target.showDialog = true;
            },

            /**
             * 删除
             */
            handleDelete: function (index, row) {
                console.log("Handle Delete");
                var target = this;
                if (row) {
                    target.$confirm('确定要删除当前记录？', '提示')
                        .then(function () {
                            meetingroomApi.deleteMeetingRoom({
                                id: row.id,
                                name: row.name,
                                location: row.location,
                                comments: row.comments
                            }).then(function (response) {
                                target.$message({
                                    message: '删除成功',
                                    type: 'success'
                                });
                                target.handleLoad();
                            }).catch(function (error) {
                                target.$notify.error({
                                    title: '错误',
                                    message: error.message
                                })
                            });
                        });
                }
            },

            _resetMeetingroom: function () {
                this.meetingroom = {
                    id: '',
                    name: '',
                    location: '',
                    comments: ''
                }
            }
        },
        mounted: function () {
            this.handleLoad();
        }
    }
</script>
<style scoped>
    .search-container {
        background: rgba(255, 255, 255, 1);
        border-radius: 2px;
        padding: 18px 18px 0;
    }
</style>